
/*Meu CSS*/


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --nav-width: 92px;
    --first-color: #1158f3;
    --bg-color: #014b88;
    --sub-color: #B6CEFC;
    --white-color: #FFF;
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --z-fixed: 100;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.container {
    margin-top: 10px;
    float: left;
}

.navbar {
    text-align: center;
    margin-top: -20px;
    margin-right: 20px;
}

.row {
    margin-top: 10px;
    margin-right: 1%;
}

.card {
    margin-left: -20px;
}

.navbar2 {
    margin-top: -30px;
    margin-right: 20px;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: #242424;
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}


.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

    .nav__link:hover {
        background-color: var(--first-color);
        color: #000;
    }

.nav__icon {
    font-size: 1.25rem;
}

.nav__nome {
    font-size: var(--small-font-size);
}

.expander {
    width: calc(var(--nav-width) + 9.25rem);
}

.body-pd {
    padding: 2rem 0 0 16rem;
}

.active {
    background-color: var(--first-color);
}

.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5s;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

    .collapse__sublink:hover {
        color: var(--white-color);
    }

.showCollapse {
    display: block;
}

.rotate {
    transform: rotate(180deg);
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#FooterAlmoxa {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

    #FooterAlmoxa .container {
        text-align: center;
    }

    #FooterAlmoxa .footer-copyright {
        margin-bottom: 0px;
        text-align: center;
        color: #777;
    }

.smoothscroll-top {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99;
    background-color: #2ba6e1;
    color: #fff;
    width: 47px;
    height: 44px;
    line-height: 44px;
    right: 25px;
    bottom: -25px;
    padding-top: 2px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transition-delay: .2s;
}

    .smoothscroll-top:hover {
        background-color: #3eb2ea;
        color: #fff;
        transition: all .2s ease-in-out;
        transition-delay: 0;
    }

    .smoothscroll-top.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1;
        bottom: 25px;
    }

    .smoothscroll-top i.fa {
        line-height: inherit;
    }

    .main_content {
        width: 100%;
        margin-left: 2%;
    }

    .navbar{
       margin-left: -5px;
    }

    